.site-logo {
  color:#222;
  text-decoration: none;
  float: left;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Abel', sans-serif;
  position: relative;
  text-decoration: none;
}
