.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.layout-default {
  padding-top: 85px;
}
.layout-default_header {
    position: fixed;
    top: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 5;
    height: 85px;
    background: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}


.layout-default_footer {
  border-top:1px solid #eee;
}

.layout-intro {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image:url($intro-bg);
    background-attachment: fixed;
    background-color: $main-color;
    background-size: cover;
    background-position: bottom;
    height: 220px;

    .layout-intro_inner {
      pointer-events: none;
      position: absolute;
      width: 100%;
      padding:70px 20px 0 20px;
      z-index: 1;
    }

    &.is--fullscreen {
      height: 100vh;
      min-height: 580px;

      .layout-intro_inner {
        height: 100vh;
        padding-top:32vh;
        z-index: 1;
      }
    }

    img {
      min-width: 100%;
      min-height: 100%;
    }

    h1, p {
      text-align: center;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
    h1 {
      font-size: 52px;
      line-height: 68px;
      margin-bottom: 10px;
      small {
        display: block;
        font-size: 22px;
        line-height: 30px;
      }
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
    &.is--ja {
      p {
        font-size: 14px;
      }
    }

    .layout-intro_animation {
      color:white;
      text-align: center;
      margin-top: 40px;
      min-height: 70px;
      .layout-intro_animationLogo {
        width: 92px;
      }
      span {
        opacity: 1;
        position: relative;
        display:inline-block;
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
      }
      img {
        width: 70px;
        height: auto;
        vertical-align: middle;
        filter:invert(1);
        min-width: auto;
        min-height: auto;
      }
    }

    .layout-intro_inner {
      &.is--animated {
        .layout-intro_animationLogo {
          opacity: 0;
          &.fade {
            opacity: 1;
          }
        }
        .layout-intro_animation {
          span {
            opacity: 0;
          }
        }
      }
    }
}
.layout-introScroller {
  cursor: pointer;
  filter: invert(1);
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
}

.layout-default_copyright {
  padding:24px 0;
  border-top: 1px solid #eee;
  background: $main-color;
  p {
    color:white;
    font-size: 12px;
    text-align: center;
  }
}

.section-loader {
  padding: 50px;
}
@media screen and (max-width: $max-width-tablet) {
  .layout-default {
    padding-top: 135px;
  }
  .layout-default_header {
    position: absolute;
    height: 135px;
    &:before {
      content:none;
    }
  }

  .layout-intro {
    height:350px;
    background-attachment: scroll;
    .layout-intro_inner {
      z-index: 1;
      padding-top:125px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &.is--fullscreen {
      height: 100vh;
      min-height: 580px;

      .layout-intro_inner {
        height: 100vh;
        z-index: 1;
        padding-top:300px;
        min-height: 580px;
      }
    }
    h1 {
      font-size:38px;
      small {
        font-size: 18px;
      }
    }
    p {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: $max-width-mobile) {

  body {
    right: 0;
    transition: right .5s ease .2s;
    &.is--sideMenuActive {
        right: 80%;
        overflow-y: hidden;
        position: fixed;
        width: 100%;

        &:before {
            content: "";
            background: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
  }
  .layout-default {
    padding-top: 72px;
  }
  .layout-default_header {
    position: fixed;
    height: 72px;
  }
  .layout-default_footer {
    display: block;
  }
  .layout-intro {
    height:220px;
    background-image:url($intro-bg-sp);
    background-attachment: scroll;

    .layout-intro_inner {
      padding-top:75px;
    }
    &.is--fullscreen {
      height: 100vh;
      min-height: 240px;

      .layout-intro_inner {
        padding-top:30vh;
        min-height: 500px;
      }
    }
    h1 {
      font-size:30px;
      line-height: 40px;
      margin: 0;
      small {
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
    }
  }
}
