.text--description {
  color:#444;
  font-style: italic;
  font-size: 12px;
  margin:0;
  + .text--description {
    margin-top:8px;
  }
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--note {
  color:#999;
}
