$main-color:#0c78ae;
$main-color-light: rgba(66, 164, 197, 0.20);
$main-color-hover: rgba(33, 107, 151, 1);
$text-color:#475160;
$error-color: #ff3d55;
$bg-color: #ffffff;
$bg-fullscreen: #f7f8fb;
$intro-bg: '/static/img/intro-bg6.jpg';
$intro-bg-sp: '/static/img/intro-bg6-sp.jpg';
$intro-bg-color: black;

$max-width-tablet: 768px;
$inner-tablet: 748px;

$max-width-mobile: 648px;
$inner-mobile: 100%;
